/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
   --bg-black-50: #e8dfec;
   --bg-black-100: #fdf9ff;
   --bg-black-900: #f2f2fc;
   --text-black-700: #504e70;
   --text-black-900: #302e4d;
}

body.dark {
   --bg-black-50: #151515;
   --bg-black-100: #222222;
   --bg-black-900: #393939;
   --text-black-700: #ffffff;
   --text-black-900: #e9e9e9;
}

body {
   line-height: 1.5;
   font-size: 16px;
}

a,
h2,
h3,
h3,
h4,
h5,
p {
   font-family: 'League Spartan', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   line-height: 1.5;
   font-size: 16px;
   outline: none;
   text-decoration: none;
   box-sizing: border-box;
}

::before,
::after {
   box-sizing: border-box;
}

ul {
   list-style-type: none;
}

.section {
   background: var(--bg-black-900);
   min-height: 100vh;
   display: block;
   padding: 0 30px;
   opacity: 1;
}

.hidden {
   display: none !important;
}

.main-content {
   padding-left: 270px;
}

.padd-15 {
   padding-left: 15px;
   padding-right: 15px;
}

.container {
   max-width: 1100px;
   width: 100%;
   margin: auto;
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-left: -15px;
   margin-right: -15px;
   position: relative;
}

.shadow-drak {
   box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.typing{
   font-size: 30px;
}
/* asid design */
.aside {
   width: 270px;
   background: var(--bg-black-100);
   border-right: 1px solid var(--bg-black-50);
   position: fixed;
   left: 0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
   height: 100%;
   z-index: 10;
}

.aside .logo {
   position: absolute;
   top: 50px;
   font-size: 30px;
   text-transform: capitalize;
}

.aside .logo a {
   color: var(--text-black-900);
   font-weight: 700;
   font-size: 30px;
   padding: 15px 20px;
   letter-spacing: 5px;
   position: relative;
   font-family: 'League Spartan', sans-serif;
}

.aside .logo a span {
   font-size: 40px;
   font-family: 'League Spartan', sans-serif;
}

.aside .logo a::before {
   content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   border-top: 5px solid var(--skin-color);
   border-left: 5px solid var(--skin-color);
   top: 0;
   left: 0;
}

.aside .logo a::after {
   content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   border-bottom: 5px solid var(--skin-color);
   border-right: 5px solid var(--skin-color);
   bottom: 0;
   right: 0;
}

.nav-toggler {
   height: 40px;
   width: 45px;
   border: 1px solid var(--bg-black-50);
   cursor: pointer;
   position: fixed;
   left: 300px;
   top: 20px;
   border-radius: 5px;
   background: var(--bg-black-100);
   display: none;
   justify-content: center;
   align-items: center;
}

.aside .nav-toggler span {
   width: 18px;
   height: 2px;
   background: var(--skin-color);
   display: inline-block;
   position: relative;
}

.aside .nav-toggler span::before {
   width: 18px;
   height: 2px;
   content: '';
   background: var(--skin-color);
   position: absolute;
   top: -6px;
   left: 0;
}

.aside .nav-toggler span::after {
   width: 18px;
   height: 2px;
   content: '';
   background: var(--skin-color);
   position: absolute;
   bottom: -6px;
   right: 0;
}

.aside .nav {
   margin-top: 50px;
}

.aside .nav li {
   margin-bottom: 20px;
   display: block;
}

.aside .nav li a {
   font-size: 16px;
   font-weight: 400;
   display: block;
   border-bottom: 1px solid var(--bg-black-50);
   color: var(--text-black-900);
   padding: 5px 15px;
   font-family: 'League Spartan', sans-serif;
}

.aside .nav li a.active {
   color: var(--skin-color);
}


/* main container */


/* home */
.home {
   min-height: 100vh;
   display: flex;
   color: var(--text-black-900);
}

.home .home-info {
   max-width: 60%;
   flex: 0 0 60%;
}

.home-info .hello {
   font-size: 35px;
   margin: 15px 0;
}

.home-info .hello span {
   font-size: 30px;
   font-weight: 700;
   color: var(--skin-color);
}

.home-info .my-profession {
   font-size: 35px;
   margin: 15px 0;
}

.home-info .my-profession .typing {
   color: var(--skin-color);
}

.home-info p {
   font-size: 20px;
   color: var(--text-black-700);
   margin-bottom: 70px;
}

.btn {
   font-size: 19px;
   font-weight: 500;
   padding: 15px 45px;
   color: #ffffff;
   background: var(--skin-color);
   border-radius: 40px;
   display: inline-block;
   white-space: nowrap;
   /* transition: all 0.03s ease; */
   border: 1px solid var(--skin-color);
}



.btn:hover {
   /* transform: scale(1.05s); */
   background-color: #ffffff;
   color: var(--skin-color);
   border: 1px solid var(--skin-color);
   transition: .3S;
}

.home .home-img {
   flex: 0 0 40%;
   max-width: 40%;
   text-align: center;
   position: relative;
}

.home .home-img::before {
   content: '';
   position: absolute;
   height: 80px;
   width: 80px;
   border-bottom: 10px solid var(--skin-color);
   border-right: 10px solid var(--skin-color);
   right: 20px;
   bottom: -45px;
}

.home .home-img::after {
   content: '';
   position: absolute;
   height: 80px;
   width: 80px;
   border-top: 10px solid var(--skin-color);
   border-left: 10px solid var(--skin-color);
   left: 20px;
   top: -45px;
}

.home .home-img img {
   height: 400px;
   margin: auto;
   border-radius: 8px;
}

/* about section style */

.section .container {
   padding-top: 60px;
   padding-bottom: 70px;
}

.section-title {
   flex: 0 0 100%;
   max-width: 100%;
   margin-bottom: 60px;
}

.section-title h2 {
   font-size: 40px;
   font-weight: 700;
   color: var(--text-black-900);
   position: relative;
   font-family: 'League Spartan', sans-serif;

}

.section-title h2::before {
   content: '';
   width: 50px;
   height: 4px;
   position: absolute;
   background-color: var(--skin-color);
   top: 100%;
   left: 0;
}

.section-title h2::after {
   content: '';
   width: 25px;
   height: 4px;
   position: absolute;
   background-color: var(--skin-color);
   top: 100%;
   left: 0;
   margin-top: 8px;
}

.about .about-content {
   max-width: 100%;
   flex: 0 0 100%;
}

.about .about-content .about-text {
   max-width: 100%;
   flex: 0 0 100%;
}

.about .about-text h3 {
   font-size: 35px;
   margin-bottom: 15px;
   font-weight: 700;
   color: var(--text-black-900);
}

.about .about-text h3 span {
   color: var(--skin-color);
}

.about .about-text p {
   font-size: 16px;
   line-height: 25px;
   color: var(--text-black-700);
}

.about .personal-info {
   flex: 0 0 50%;
   max-width: 50%;
   margin-top: 40px;
}

.about .personal-info .info-item {
   flex: 0 0 50%;
   max-width: 50%;
}

.about .personal-info .info-item p {
   font-size: 16px;
   font-weight: 600;
   padding: 10px 0;
   color: var(--text-black-900);
   border-bottom: 1px solid var(--bg-black-50);
}

.about .personal-info .info-item p span {
   font-weight: 400;
   color: var(--text-black-700);
   margin-left: 4px;
   display: inline-block;
}

.about .personal-info .buttons {
   margin-top: 30px;
}

.about .personal-info .buttons .btn {
   margin-top: 10px;
   margin-right: 15px;
}

.about .skills {
   flex: 0 0 50%;
   max-width: 50%;
   margin-top: 40px;
}

.about .skills .skill-item {
   flex: 0 0 50%;
   max-width: 100%;
   margin-bottom: 25px;
}

.about .skills .skill-item h5 {
   font-size: 16px;
   font-weight: 600;
   line-height: 40px;
   color: var(--text-black-900);
   text-transform: capitalize;
}

.about .skills .skill-item .progress {
   background: var(--bg-black-50);
   border-radius: 4px;
   width: 100%;
   height: 7px;
   position: relative;
}

.about .skills .skill-item .progress .progress-in {
   position: absolute;
   border-radius: 4px;
   background: var(--skin-color);
   top: 0;
   left: 0;
   height: 100%;
}

.skill-percent {
   position: absolute;
   color: var(--text-black-900);
   font-weight: 400;
   top: -40px;
   right: 0;
   line-height: 40px;
   font-family: 'League Spartan', sans-serif;
}

.about .education,
.about .experience {
   flex: 0 0 50%;
   max-width: 50%;
   margin-top: 30px;
}

.about .education .title,
.about .experience .title {
   font-size: 25px;
   margin-bottom: 30px;
   font-weight: 700;
   color: var(--text-black-900);
}

.about .timline-box {
   flex: 0 0 100%;
   max-width: 100%;
}

.about .timline-box .timline {
   padding: 30px 15px;
   background-color: var(--bg-black-100);
   border: 1px solid var(--bg-black-50);
   border-radius: 10px;
   width: 100%;
   position: relative;
}

.about .timline .timline-item {
   position: relative;
   padding-left: 37px;
   padding-bottom: 50px;
}

.about .timline .timline-item:last-child {
   padding-bottom: 0;
}

.about .timline .timline-item::before {
   content: '';
   width: 1px;
   position: absolute;
   height: 100%;
   left: 7px;
   top: 0;
   background: var(--skin-color);
}

.timline-item .circle-dot {
   position: absolute;
   left: 0;
   top: 0;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background: var(--skin-color);
}

.timline .timline-date {
   font-weight: 400;
   font-size: 14px;
   margin-bottom: 12px;
   color: var(--text-black-700);
}

.timline .timline-date .fa {
   margin-right: 5px;
}

.timline .timline-title {
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 15px;
   text-transform: capitalize;
   color: var(--text-black-900);
}

.timline .timline-text {
   font-size: 16px;
   line-height: 25px;
   text-align: justify;
   color: var(--text-black-700);
}

/* services style */
.services .container {
   padding-bottom: 40px;
}

.services .services-item {
   margin-bottom: 30px;
   flex: 0 0 33.33%;
   width: 33.33%;
}

.services .services-item-inner {
   background: var(--bg-black-100);
   border: 1px solid var(--bg-black-50);
   border-radius: 10px;
   padding: 30px 15px;
   text-align: center;
   transition: all 0.3s ease;
}

.services .services-item-inner h4 {
   font-size: 23px;
   margin-bottom: 15px;
   color: var(--text-black-900);
   font-weight: 700;
   text-transform: capitalize;
}

.services .services-item-inner p {
   font-size: 16px;
   color: var(--text-black-700);
   line-height: 25px;
}

.services .services-item-inner:hover {
   box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.services .services-item-inner .icon {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   display: block;
   margin: 0 auto 30px;
   text-align: center;
   transition: all 0.3s ease;
}

.services .services-item-inner .icon .fa {
   font-size: 40px;
   line-height: 60px;
   color: var(--skin-color);
}

.services .services-item-inner:hover .icon {
   background-color: var(--skin-color);
}

.services .services-item-inner:hover .icon .fa {
   font-size: 25px;
   color: #ffffff;
}

/* portfolio style */
.portfolio .container {
   padding-bottom: 40px;
}

.portfolio .portfolio-heading {
   flex: 0 0 100%;
   max-width: 100%;
   margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
   color: var(--text-black-900);
   font-weight: 500;
   font-size: 27px;
}

.portfolio .portfolio-item {
   flex: 0 0 33.33%;
   max-width: 33.33%;
   margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
   border: 5px solid var(--bg-black-100);
   border-radius: 10px;
   overflow: hidden;
   cursor: pointer;
}

.portfolio-item-inner .portfolio-img {
   width: 100%;
   display: block;
}

/* contact style */
.contact .contact-title {
   color: var(--skin-color);
   text-align: center;
   font-size: 25px;
   margin-bottom: 20px;
}

.contact .contact-sub-title {
   color: var(--text-black-900);
   text-align: center;
   font-size: 15px;
   margin-bottom: 60px;
}

.contact .contact-info-item {
   flex: 0 0 33.33%;
   max-width: 33.33%;
   text-align: center;
   margin-bottom: 60px;
}

.contact .contact-info-item .icon {
   display: inline-block;
}

.contact .contact-info-item .icon .fa {
   font-size: 25px;
   color: var(--skin-color);
   margin-bottom: 15px;
}

.contact .contact-info-item h4 {
   font-size: 18px;
   font-weight: 700;
   color: var(--text-black-900);
}

.contact .contact-info-item p {
   font-size: 16px;
   font-weight: 400;
   color: var(--text-black-700);
   line-height: 25px;
}

.contact .contact-form {
   flex: 0 0 100%;
   max-width: 100%;
}

.contact .contact-form .col-6 {
   flex: 0 0 50%;
   max-width: 50%;
}

.contact .contact-form .col-12 {
   flex: 0 0 100%;
   max-width: 100%;
}

.contact .contact-form .form-item {
   margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
   width: 100%;
   height: 50%;
   border-radius: 25px;
   background: var(--bg-black-100);
   border: 1px solid var(--bg-black-50);
   padding: 10px 25px;
   font-size: 16px;
   color: var(--text-black-700);
   transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
   box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

textarea .form-control {
   height: 140px;
}

.contact .contact-form .btn {
   height: 50px;
   padding: 0 50px;
}


/* Responcive */
@media (max-width:1100px) {
   .aside {
      left: -270px;
   }

   .main-content {
      padding-left: 0;
   }

   .about .personal-info .info-item p span {
      display: block;
      margin-left: 0;
   }
}

@media (max-width:999px) {
   .home .home-img {
      display: none;
   }

   .home .home-info {
      flex: 0 0 100%;
      max-width: 100%;
   }

   .portfolio .portfolio-item,
   .contact .contact-info-item,
   .services .services-item {
      flex: 0 0 50%;
      max-width: 50%;
   }

}

/* Medium */
@media (max-width:768px) {

   .about .about-content .skills,
   .about .about-content .personal-info,
   .about .about-content .education,
   .about .about-content .experience,
   .services .services-item,
   .portfolio .portfolio-item,
   .contact .contact-info-item,
   .contact .contact-form .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
   }
}